---
import { mapDataForChart } from "../chart";
import { downloadData } from "../downloadData";
import { avg, round } from "../util";

const downloadedData = await downloadData();
const chartData = mapDataForChart(downloadedData);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Season</th>
          <th>Show</th>
          <th>Doctor</th>
          <th>Showrunner</th>
          <th>RT Critic</th>
          <th>RT Audience</th>
          <th>MC Critic</th>
          <th>MC User</th>
          <th>TMDB</th>
          <th>User Average</th>
        </tr>
      </thead>
      <tbody>
        {
          downloadedData.map((data) => (
            <tr>
              <td>{data.name}</td>
              <td>{data.showName}</td>
              <td>
                <abbr title={data.meta.doctorPlayedBy}>{data.meta.doctor}</abbr>
              </td>
              <td>{data.meta.showrunner}</td>
              <td>{data.rottenTomatoesData?.critics?.score}</td>
              <td>{data.rottenTomatoesData?.audience?.score}</td>
              <td>{data.metaCriticData?.metaScore}</td>
              <td>{data.metaCriticData?.userScore}</td>
              <td>{data.tmdbData?.voteAverage}</td>
              <td>
                {round(
                  avg(
                    Number(data.rottenTomatoesData?.critics?.score) / 10 ||
                      null,
                    data.metaCriticData?.userScore,
                    data.tmdbData?.voteAverage
                  ),
                  1
                )}
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>
    <div id="chart"></div>
    <script>
      import { setupChart } from "../chart";

      declare global {
        interface Window {
          setupChart: typeof setupChart;
        }
      }

      window.setupChart = setupChart;
    </script>
    <script is:inline define:vars={{ chartData }}>
      document.addEventListener("DOMContentLoaded", () => {
        window.setupChart(chartData, document.getElementById("chart"));
      });
    </script>
  </body>
</html>
